<section class="panel" ng-controller="CourseController">
    <header class="panel-heading">
        Create Chapters
    </header>
    <form class="form-horizontal" on-submit="save()" name="form" method="POST">
    <div class="panel-body">
        <h2><% courseTitle %></h2>
        <!-- Form repeated -->
        <section class="panel" data-ng-repeat="chapter in chapters">
            <div class="panel-heading">
                Chapter <% $index + 1 %>
                <button ng-click ="remove()" data-ng-show="$last" data-ng-hide="$first"  class="pull-right btn btn-default">Close</button>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Title of Chapter</label>
                    <div class="col-sm-10">
                        <input type="text" id="title" name="title" ng-model="chapter.title" required="" class="form-control" placeholder="Course Title">
                        <div>
                            <p ng-show="form.title.$error.required && form.title.$touched" class="help-block">You name is required.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form">
                        <div class="form-group">
                            <label class="control-label col-sm-2">Chapter Description</label>
                            <div class="col-sm-10">
                                <textarea  class="form-control ckeditor" ng-model="chapter.description" required name="description" rows="6"></textarea>
                            </div>
                            <div>
                                <p ng-show="form.description.$error.required && form.description.$touched" class="help-block">Details is required</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Form Repeated -->
        <button class="btn btn-default pull-right" ng-click="add()">Add Chapter >></button>
    </div>
    <div class="panel-footer">
        <button type="submit" class="btn btn-default" ng-click="save()">Continue >></button>
    </div>
    </form>
<% chapters %>
</section>

